body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

table, th, td {
    border: 1px solid black;
}

.table-box-wrap {
  position: relative;
  /*width:509px;*/
  margin-top: 20px;
  padding-top: 40px;
  border: 1px solid #ccc;
}
.table-box-wrap .table-box {
  max-height: 258px;
  overflow: auto;
  overflow-x: hidden;
}
.table-box-wrap .table-box table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-box-wrap .table-box table thead tr {
  position: absolute;
  top: 0;
}
.table-box-wrap .table-box table thead tr th {
  font-weight: normal;
  width: 120px;
  height: 40px;
  background:darksalmon;
  color:#fff;
}

.table-box-wrap .table-box table td {
  text-align: center;
  height: 40px;
  border-top: 1px solid #ccc;
}

.table-box-wrap .table-box table tr {
  display: inline-table;
  width: 100%;
  table-layout: fixed;
}

.table-box-wrap .table-box table tbody tr {
 display: table-row;
}
